<div class="navbar">
  <div class="brand">
    <h1>DataHandphone</h1>
  </div>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <div class="dropdown">
      <button class="dropbtn">Pemain <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="iphone">iphone</a><br />
        <a href="oppo"> oppo</a><br />
        <a href="xiomi"> xiomi</a><br />
        <a href="vivo">vivo</a><br />
        <a href="poco">poco</a>
      </div>
    </div>
    <li><a href="about">About</a></li>
  </ul>
</div>